body
{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: center;
    background-color: rgb(255, 217, 127);
    font-size: 16px;
}
#cabecera
{
    background-color: antiquewhite;
}

#container
{
    width: 70%;
    text-align: left;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}