body
{
    font-family: Arial, ;
    color: blue;
    text-align: center;
    background-color: aquamarine;
    font-size: 16px;
}
#container
{
    width: 70%;
    text-align: left;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}